.DS_Store
/.buildpath
/.idea
/.project
/.settings
/*.sublime*
/config.inc.php
/www/.htaccess*
/www/wdn
/vendor/
/www/custom/*
!/www/custom/.gitkeep
!/www/custom/dcf
/src/Themes/*
!/src/Themes/.gitkeep
!/src/Themes/unl
!/src/Themes/dcf
