#serviceIndicator {
    border: 1px solid #ddd;
 		-moz-border-radius: 5px;
 		-webkit-border-radius: 5px;
    padding:10px; 
    margin-bottom:10px;
}
#serviceIndicator div.message {
	background:url(../images/identity/key.png) no-repeat top left;
	padding: 10px 5px 5px 68px;
	min-height:60px;
}
#serviceIndicator div.message p {
	margin-bottom:0px;	
}
#serviceIndicator a strong {
	font-size:1.2em;
}
#serviceIndicator div.close {
	float:right;
	}
#serviceIndicator div.close a, #serviceIndicator div.close a:hover {
	background:url(../images/identity/close.gif) no-repeat scroll top left;
	width:22px;
	height:20px;
	text-indent: -2000em; 
    display: block;
    border: 1px solid #ddd; 
 		-moz-border-radius: 3px;
 		-webkit-border-radius: 3px;
    text-decoration: none;
    position: relative;

}
#serviceIndicator div.close a:hover {
	border: 1px solid #999; 
  		-moz-border-radius: 3px;
  		-webkit-border-radius: 3px;

}