/* CSS styles for forms in <div id="maincontent">
Author: UNL WDN [http://wdn.unl.edu]

Last Modified Date: 03/31/2009
/*Overrides*/
#maincontent form input,#maincontent form textarea,#maincontent form select {
	width:300px;
}
.required {
	color:#434343;
}
p.required {
	background:url(../images/forms/requiredIndicatorBG.png) no-repeat top left;
	padding:10px 0 16px 45px;
	margin-bottom:0px;
	float:right;	
}
#maincontent form li img {
	margin:0 0 0 10px;	
}
/*For the form hints*/
#maincontent form span.hint {
	position:absolute;
	left: 490px;
	width: 190px;
	top:0px;
  	border: 1px solid #77b5d4;
  	padding: 10px 12px;
  	background:#c8e7f7;
	display:block;
	display:none;
  	color:#77b5d4;
}
#maincontent form input:focus span.hint {
	display:block;	
}
#maincontent form span.hint span.hintPointer{
  	background:url(../images/forms/hintCarret.png) left top no-repeat;
  	position:absolute;
  	left:-16px;
  	top:15px;
  	width:16px;
  	height:19px;
}
/*Submit Button*/
p.submit {
	margin-top: 0px;
	margin-left: 160px;
	background:url(../images/forms/submitL.png) top left no-repeat;
	display:inline-block;
	height:45px;
	padding-left:5px;
	float:left;
}
p.submit input, p.submit a {
    background:url(../images/forms/submitR.png) no-repeat top right;
    font-size:1.5em;
    color:#FFF;
    display:inline-block;
    padding:10px 45px 15px 10px;
    border:0;
}
p.submit a {
	padding:15px 45px 15px 10px;
}
