/* CSS styles for forms in <div id="maincontent">
Author: UNL WDN [http://wdn.unl.edu]

Last Modified Date: 03/31/2009
/*For the form hints*/
#maincontent form span.hint {
	position:absolute;
	left: 620px;
  	width: 200px;
  	border: 1px solid #77b5d4;
  	padding: 10px 12px;
  	background:#c8e7f7;
	//display:none;
}
#maincontent form input:focus span.hint {
	display:inline;	
}
#maincontent form span.hint span.hintPointer{
  	background:url(../images/forms/hintCarret.png) left top no-repeat;
  	position:absolute;
  	left:-16px;
  	top:15px;
  	width:16px;
  	height:19px;
}
/*Submit Button*/
p.submit {
	margin-top: 0px;
	margin-left: 185px;
	background:url(../images/forms/submitL.png) top left no-repeat;
	display:inline-block;
	height:45px;
	padding-left:5px;
}
p.submit input, p.submit a {
    background:url(../images/forms/submitR.png) no-repeat top right;
    font-size:1.5em;
    color:#FFF;
    display:inline-block;
    padding:10px 45px 15px 10px;
    border:0;
}
p.submit a {
	padding:15px 45px 15px 10px;
}
