/* TODO remove once date is made to DCF */
.dcf-nav-menu-child ul {
	list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
	margin-bottom: 0;
	padding-left: 0;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc {
	cursor:pointer;
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled {
	background-repeat:no-repeat;
	background-position:center right
}
table.dataTable thead .sorting {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAA1klEQVQ4jdXSsQkCQRCF4blEQbAKM2swsQxDY2P70ALsw8gKNl3Ynf9l5gYmookGKhwHonsniA8m/XgzjNnfJoQwkLSKMfY6Y+6+BC7AohMEjIG9pCv3jNpaFbCRdK3N2syqYknSVNKhjgHHnPOkCEopDYFdo9UT3AL9jzF3nwNnSafmAGd3n5Vu+p24++xNs/nHGNAHti9utkspDYva5ZwnwLGBHSRNSzc1M6skrRutNtbmz8zMgBHAA9oD41ZQDVwAF3dfdoLMzGKMPUmrEMKgM/az3AAg7Axw7XHM9gAAAABJRU5ErkJggg==")
}
table.dataTable thead .sorting_asc {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAnUlEQVQ4jWNgGLIgreEMV0XDnQmhDVfZKDasou5OaWXDnV9VdbezKTKosuG2VmX9ncdVDXf/V9bfuV1ac1uZXLMYq+rvzq1quPsfhivr70xkYGBgJNmkqro7jpUNd9+hGNZw51N5w10bkgwqK7vBW9lwZx+yQQh8Z0du7m12og2rrLubWFV/52dV/d3vmPjOz4q6u5Gk+nQUjILhDwCVe2e2zpAsvQAAAABJRU5ErkJggg==")
}
table.dataTable thead .sorting_desc {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAp0lEQVQ4je3PIQ7CQBCF4VcDCQmnwHEGDIdAIDEYUtnSmZDdOQIcgHugOEEtCcnOKDwCQ4opCtFiaCsw/ZKxf94AvV6vJnO2ZK8Fe3t+nxbkbPVzLI7DkEVPLFbWj0TPaXodN1q3FZuR6KMasjs7nTf9FAAi8nqoLPN2BBC1iSHZhQl5DSxWktcbSZi2Cn2wCxsSfWVOk04hAFjIZZCJ7teSjzrH/uYNF2tntszhyvAAAAAASUVORK5CYII=")
}
table.dataTable thead .sorting_asc_disabled {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAjUlEQVQ4je3PIQ7CQBCF4amBhIRT4DgDhmMg0WjuAQfgHihOsHaT3fmfwyMwpDVFEJKmiqUK0j959suM2c8WQphJOsQYJ4Mxd98DDbAbBAFL4Cqp5dXiW6sCTpLazo5mVhVLktaSbl0MuOecV0VQSmkOXHpXvcEzMP0Yc/ctUEt69AfU7r4p/XRs7P97AmDRhjFEXwbiAAAAAElFTkSuQmCC")
}
table.dataTable thead .sorting_desc_disabled {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAjklEQVQ4je3PoQ3CUBSF4VMDCQlT4JgBwxhINJo9YAD2QDFBbZPX+x+HR2BIMWAQ5CnaCsz7k2u/nCuVSqWsiNgAne1HfkAXEdufMWAKnG2/8gMuKaV5r3Vt266Ae4bdbK/7fipJle1jtuokqRqCCVgAfKArsBwEfYE74BkR+1GQJDVNM7F9qOt6Nhr7W2/Fw4YxkZp0qQAAAABJRU5ErkJggg==")
}
table.dataTable th.dt-left,table.dataTable td.dt-left {
	text-align:left
}
table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty {
	text-align:center
}
table.dataTable th.dt-right,table.dataTable td.dt-right {
	text-align:right
}
table.dataTable th.dt-justify,table.dataTable td.dt-justify {
	text-align:justify
}
table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap {
	white-space:nowrap
}
table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left {
	text-align:left
}
table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center {
	text-align:center
}
table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right {
	text-align:right
}
table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify {
	text-align:justify
}
table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap {
	white-space:nowrap
}
table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left {
	text-align:left
}
table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center {
	text-align:center
}
table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right {
	text-align:right
}
table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify {
	text-align:justify
}
table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap {
	white-space:nowrap
}
.dataTables_wrapper {
	position:relative;
	clear:both;
	zoom:1;
	overflow: auto;
}
.dataTables_wrapper .dataTables_length {
	float:left
}
.dataTables_wrapper .dataTables_filter {
	float:right;
	text-align:right;
	margin-bottom: 1em;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left:0.5em
}
.dataTables_wrapper .dataTables_info {
	clear:both;
	float:left;
	padding-top:0.755em
}
.dataTables_wrapper .dataTables_paginate {
	float:right;
	text-align:right;
	padding-top:0.25em
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	font-size: 13px;
	display: block;
	float: left;
	font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0.254em;
	vertical-align: middle;
	padding: 0.422em 0.602em 0.317em;
	border: 1px solid #D5D5D2;
	transition: border ease-out 0.2s;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	cursor:default;
	color: inherit;
	background: transparent;
	border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #fff;
	background-color: #5B5B5A;
	border: 1px solid #5B5B5A;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #6A0000;
	border:1px solid #6A0000;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	color: #6A0000;
	border:1px solid #6A0000;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
	padding:0.422em 0.602em 0.317em;
}
.dataTables_wrapper .dataTables_processing {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:40px;
	margin-left:-50%;
	margin-top:-25px;
	padding-top:20px;
	text-align:center;
	font-size:1.2em;
	background-color:white;
	background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
	background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)
}
.dataTables_wrapper:after {
	visibility:hidden;
	display:block;
	content:"";
	clear:both;
	height:0
}
@media screen and (max-width: 767px) {
	.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate {
		float:none;
		text-align:center
	}
	.dataTables_wrapper .dataTables_paginate {
		margin-top:0.5em
	}
}
@media screen and (max-width: 640px) {
	.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter {
		float:none;
		text-align:center
	}
	.dataTables_wrapper .dataTables_filter {
		margin-top:0.5em
	}
}
.go-urls .actions > * {
    margin: .25em;
    display: inline-block;
}
.go-urls td:nth-child(2) {
    word-break: break-all;
}
.wdn_notice .message input { color: #333; width: 100% }

#dcf-main {
	background-color: #f6f6f5!important;;
}
form#shorten-form {
	width: 75%;
}
@media screen and (max-width: 640px) {
	form#shorten-form {
		width: 100%;
	}
}
