/* Manager */
#maincontent .qrImage {width:16px; height:16px; background:url('../images/qrSample.png') no-repeat;display: inline-block;}
.go-urls {
	margin: 0;
	padding: 0;
	list-style: none;
}
.go-urls li {
	background: #fff;
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 2px;
	margin-bottom: 1em;
	padding: 0 1em;
}

.go-urls h2 {
	font-family: "Gotham SSm A", "Gotham SSm B", Verdana, "Verdana Ref", Geneva, Tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.go-urls .actions > * {
	margin-right: 1em;
}
.wdn_notice .message input { color: #333; width: 100% }
